<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>Gravitational Scattering at 4th Post-Minkowskian Order</title>
    
    <meta name="description" content="Presentation Slides made with impress.js" />
    <meta name="author" content="Gregor Kaelin" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
      "HTML-CSS": {
	  scale: 90,
	  styles: {
      '.MathJax_Display': {
      "margin": "20px 0"
      }
      }
	  },
	  TeX: { extensions: ["color.js"] },
	  });
	</script>
	<script type="text/javascript" src="extras/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

	<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Ubuntu">
	</link>


    <link href="css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  </head>

  <body class="impress-not-supported">
	<div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	  <p>
		$$
		\definecolor{desyOrange}{RGB}{242,142,0}
		\DeclareMathOperator{\Arcsinh}{arcsinh}
		\DeclareMathOperator{\Arctan}{arctan}
		\DeclareMathOperator{\arcosh}{arcosh}
		\newcommand\dd{{\mathrm d}}
		\newcommand{\bb}{{\mathbf b}}
		\newcommand{\bk}{{\mathbf k}}
		\newcommand{\bl}{{\mathbf l}}
		\newcommand{\bm}{{\mathbf m}}
		\newcommand{\bn}{{\mathbf n}}
		\newcommand{\bp}{{\mathbf p}}
		\newcommand{\bq}{{\mathbf q}}
		\newcommand{\br}{{\mathbf r}}
		\newcommand{\bw}{{\mathbf w}}
		\newcommand{\bx}{{\mathbf x}}
		\newcommand{\by}{{\mathbf y}}
		\newcommand{\bz}{{\mathbf z}}
		\newcommand\cO{\mathcal{O}}
		\newcommand{\cD}{\mathcal{D}}
		\newcommand\cA{\mathcal{A}}
		\newcommand\cM{\mathcal{M}}
		\newcommand\cN{\mathcal{N}}
		\newcommand\cE{\mathcal{E}}
		\newcommand\cS{\mathcal{S}}
		\newcommand\cP{\mathcal{P}}
		\newcommand\cF{\mathcal{F}}
		\newcommand\cL{\mathcal{L}}
		\newcommand\cH{\mathcal{H}}
		\newcommand\Mp{M_{\rm Pl}}
		$$
	  </p>
	</div>

	<div id="impress">

	  <div id="title" class="step" data-x="0" data-y="0">
		<h1>Dissecting Gravity
		  <br/>
		  <p class="h1Sub">
			Uncovering Fundamental Structures in the Gravitational Two-Body Problem
		  </p>
		</h1>
		<p>
		  A SNSF starting grant project proposal
  		</p>
		<p>
		  <img id="snsfFig" src="figures/snsf.png" alt="snsf">
		</p>
		<p class="cap">
		  
		  Gregor Kälin
		</p>
	  </div>

      <div id="GWPhysics" class="step" data-rel-x="1800" data-rel-to="title2">
		<h2>Gravitational wave physics</h2>
	    <ul>
		  <li>Insights into many areas of fundamental (astro-)particle physics and cosmology. E.g.
			<ul>
			  <li>Near-horizon black hole physics</li>
			  <li>Internal structure of neutron stars</li>
			  <li>Tests of GR and maybe even quantum gravity</li>
			  <li>Dark matter (e.g. primordial black holes, axion clouds,...)</li>
			  <li>Formation of large scale structures</li>
			</ul>
		  </li>
		  <li>Need: high-precision waveform templates</li>
		</ul>
		<div class="center">
		  <img id="xkcdFig" src="figures/xkcd.png"></img>
		  <br/>
		  (Cartoon from xkcd)
		</div>
	  </div>

	  <div id="GWPhysics2" class="step" data-rel-y="730" data-rel-to="GWPhysics">
		<div class="center">
		  <img id="ligoFig" src="figures/waveform.png"></img>
		</div>
	  </div>

	  <div id="mainObjective" class="step" data-rel-x="1800" data-rel-to="GWPhysics">
		<h2>Main objective</h2>
		<blockquote>
		  Uncovering fundamental structures and patterns in perturbative descriptions of the gravitational two-body problem and utilizing them to improve the high-precision construction of gravitational waveform templates.
		</blockquote>
	  </div>

	  <!--
	  <div id="projMan" class="step vanishPast" data-rotate-x="90" data-rel-to="mainObjective">
		<h2>Project management philosophy</h2>
		<blockquote>
		  Adapt the project to the people and not the people to the project.
		</blockquote>
		<div>
		  <ul>
			<li>thinkers</li>
			<li>Mathematica lovers</li>
			<li>tricksters</li>
			<li>software developers</li>
			<li>machine-learning specialists</li>
			<li>...</li>
		  </ul>
		</div>
	  </div>
	  -->

	  

	  <div id="B2B" class="step" data-rel-x="1800" data-rel-to="mainObjective">
		<h2>Boundary-To-Bound (B2B)</h2>
		<div class="ref">[GK, Porto <a href="https://arxiv.org/abs/1910.03008">1910.03008</a>, <a href="https://arxiv.org/abs/1911.09130">1911.09130</a>; + Cho <a href="https://arxiv.org/abs/2112.03976">2112.03976</a>]</div>
		<div class="center">
		  <img id="mainFig" src="figures/main.svg"></img>
		</div>
		<p class="center refInline">[Buonanno, Damour '98 '00]</p>
	  </div>

	  <div id="challenges" class="step" data-rel-y="800" data-rel-to="B2B">
		<h3><span class="h3span">Challenges</span></h3>
		<ul class="margin-bottom250">
		  
		  <li>Improving (analytic) waveform construction methods
			<!--
			<ul>
			  <li>Partial resummation</li>
			  <li>Combining results from different methods</li>
			  <li>Validity: circular vs. eccentric, non-spinning vs. spinning, boundary vs. bound, inspiral vs. merger vs. ringdown, ...</li>
			</ul>
			-->
		  </li>
		  <li>Completing the B2B map for non-local terms and spin</li>
		</ul>
		<div class="center">
		  <img id="orbitFig" src="figures/orbit.svg"></img>
		  <img id="scatteringFig" src="figures/scattering.svg"></img>
		</div>
		
	  </div>

	  <div id="B2B2" class="step" data-rel-to="B2B">
	  </div>

	  <div id="PMEFT" class="step vanishPast" data-rel-z="-3000" data-rel-y="-500" data-rel-x="-300" data-rel-to="B2B">
		<h2>Post-Minkowskian EFT</h2>
		<div class="ref">[GK, Porto <a href="https://arxiv.org/abs/2006.01184">2006.01184</a>; + Neef <a href="https://arxiv.org/abs/2207.00580">2207.00580</a>]</div>
	    <ul>
		  <li>EFT framework
			<ul>
			  <li>Generic theory of gravity</li>
			  <li>Generic worldline theory (parametrizing spin and tidal deformability)</li>
			  <li>Perturbative expansion in G</li>
			  <li>EFT methodology: Full (parametrized) theory \(\rightarrow\) effective two-body action \(\rightarrow\) observables</li>
			</ul>
		  </li>
		  <li>Technologies from QFT/particle physics (integrals!)</li>
		</ul>
		<blockquote class="margin-bottom120">
		  Complete, systematic, and efficient.
		</blockquote>
		<img id="wolfFig" src="figures/WolF.png"></img>
	  </div>

	  <div id="PMEFT2" class="step vanishPast" data-rel-y="650" data-rel-to="PMEFT">
		<h3><span class="h3span">For the first time: complete non-spinning 4PM motion </span></h3>
<div class="center">
  <span class="refInline">[Dlapa, GK, Liu, Porto <a href="https://arxiv.org/abs/2106.08276">2106.08276</a>, <a href="https://arxiv.org/abs/2112.11296">2112.11296</a>; + Neef <a href="https://arxiv.org/abs/2210.05541">2210.05541</a>]</span>
		  <p class="inlineRef">Resummation and comparison to NR <a href="https://arxiv.org/abs/2211.01399">[Damour, Rettegno 2211.01399]</a></p>
		  <img id="chiEOBFig" src="figures/chiEOB.svg"></img>
		</div>
	  </div>

	  <div id="PMEFT3" class="step vanishPast" data-rel-y="600" data-rel-to="PMEFT2">
		<h3><span class="h3span">Challenges</span></h3>
		<ul>
		  <li>Integrand construction for spinning and tidally deformed objects</li>
		  <ul>
			<li>Book-keeping: Millions of terms</li>
		  </ul>
		  <li>Loops, loops, loops
			<div class="center">
			  <img id="graphsFig" src="figures/graphs.png"></img>
			</div>
			<ul>
			  <li>Feynman(-like) integrals</li>
			  <li>To be found wherever field theoretic concepts are used</li>
			</ul>
		  </li>
		</ul>
	  </div>

	  <div id="mainObjective2" class="step" data-rel-to="mainObjective">
		<ul class="margin-top500">
		  <li>Subproject 1: Identifying fundamental structures</li>
		  <li>Subproject 2: Feynman integral relations</li>
		  <li>Subproject 3: Numerical integration and bootstrap</li>
		</ul>
	  </div>

	  <div id="pastWork" class="step" data-rel-y="-800" data-rel-to="mainObjective2">
		<h2>Scattering amplitudes in gauge theory and gravity</h2>
		<ul>
		  <li>Color-kinematics duality <a class="refInline" href="https://arxiv.org/abs/0805.3993">[Bern, Carrasco, Johansson (BCJ) 0805.3993]</a> and the double copy <a class="refInline" href="https://arxiv.org/abs/1004.0476">[BCJ 1004.0476]</a>.
			<ul>
			  <li>Efficient calculation of gravity integrands from gauge theory building blocks:
				<div class="center">
 				  <p class="center centerBox">\((\textrm{Gravity})=(\textrm{Gauge theory})^2\)</p>
				</div>
			  </li>
			  <li>Fundamental structure? Kinematical algebra?</li>
			  <li>KLT in String Theory</li>
			</ul>
		  </li>
		</ul>
	  </div>

	  <!--
	  <div id="BCJ" class="step" data-rel-y="-650" data-rel-to="pastWork">
		<div class="center">
		  <div class="inlineRef">Figure from <a href="https://arxiv.org/abs/1909.01358">[1909.01358]</a></div>
		  <img id="BCJfig" src="figures/BCJ.png"></img>
		  
		</div>
      </div>
	  -->

	  <div id="pastWork2" class="step" data-rel-y="-700" data-rel-to="pastWork">
		<!--
	    My contributions:
		<ul>
		  <li>CK-dual representation of \(\cN=2\) SQCD @2loops & integration</li>
		  <li>\(\cN=4\) supergravity+matter via double copy & extraction of UV behaviour.</li>
		  <li>\(\cN=1\) SQCD @2-loops in progress</li>
		  <li>
		</ul>
		-->
		<div class="center">
		  <h3><span class="h3span">Many diagrammatic structures and relations</span></h3>
		  <img id="neq1leq2fig" src="figures/neq1leq2.png"></img>
		  
		  <div>See e.g. <a class="inlineRef" href="https://arxiv.org/abs/1706.09381">[1706.09381]</a> <a class="inlineRef" href="https://arxiv.org/abs/1811.09604">[1811.09604]</a> <a class="inlineRef" href="https://arxiv.org/abs/1904.05299">[1904.05299]</a> <a class="inlineRef" href="https://arxiv.org/abs/1911.10218">[1911.10218]</a></div>
		</div>
	  </div>

	  <div id="pastWork3" class="step" data-rel-y="-620" data-rel-to="pastWork2">
		<h3><span class="h3span">Another structure: Minimal color decomposition of YM+matter</span></h3>
		<ul>
		  <li>Notion of gauge-independent kinematical building blocks @1-loop</li>
		  <li>See <a class="inlineRef" href="https://arxiv.org/abs/1712.03539">[1712.03539]</a></li>
		</ul>
		<div class="center">
		  <img id="marioFig" src="figures/mario.png"></img>
		</div>
	  </div>

	  <div id="mainObjective3" class="step vanishPast" data-rel-to="mainObjective2"></div>
	  
	  <div id="proj1" class="step" data-rel-y="1600" data-rel-to="mainObjective3">
		<h2>Subproject 1: Identifying fundamental structures</h2>
		<h3><span class="h3span">Intermediate objective 1.1</span></h3>
		<blockquote>
		  Find gauge invariant color-ordered/partial/primitive amplitudes in gauge theory at higher/all loop orders.
		</blockquote>
		<img id="marioFig2" src="figures/mario.png"></img>
		<ul>
		  <li>Diagrammatic construction</li>
		  <li><em>Minimal</em> color-decomposition</li>
		  <li>Basic building blocks</li>
		  <li>+ CK-duality</li>
		  <li>Canonical loop momentum labelling</li>
		</ul>
		Outcomes:
	    <ul>
		  <li class="easy">Algorithmic color decomposition @fixed loop order</li>
		  <li class="medium">Improved methods for gauge theory integrand construction</li>
		  <li class="medium">Closed-form fixed- or all-order color decomposition</li>
		  <li class="hard">All-order recursion relations for color-ordered amplitudes</li>
	    </ul>
	  </div>

	  <div id="proj12" class="step" data-rel-y="800" data-rel-to="proj1">
		<h3><span class="h3span">Intermediate objective 1.2</span></h3>
		<blockquote>
		  Identify fundamental structures in gravitational observables and amplitudes.
		</blockquote>
		<img id="firsovFig" src="figures/Firsov.png"></img>
		<ul>
		  <li>Mimic diagrammatic understanding from gauge theory</li>
		  <li>Double copy (amplitudes/WL)</li>
		  <li>Pattern guessing</li>
		  <li>Compare different perturbative results</li>
		  <li>"Best" observable?</li>
		</ul>
		Outcomes:
	    <ul>
		  <li class="medium">Novel resummation strategies</li>
		  <li class="medium">Complete B2B map for non-local terms (and spin)</li>
		  <!--<li class="hard">Non-perturbative results</li>-->
		  <li class="hard">Fundamental understanding of the CK-duality and the double copy</li>
	    </ul>
	  </div>

	  <div id="proj2" class="step" data-rel-x="1800" data-rel-to="proj1">
		<h2>Subproject 2: Feynman integral relations</h2>
		<h3><span class="h3span">Intermediate objective 2.1</span></h3>
		<blockquote>
		  Optimize integration-by-parts technologies
		</blockquote>
		<ul>
		  <li>Efficient and sustainable implementations</li>
		  <li>Combine advantages from all approaches/implementations</li>
		  <li>Special form of PM-integrals</li>
		</ul>
		Outcomes:
	    <ul>
		  <li class="medium">5PM or 6PN observables</li>
		  <li class="hard">Significant efficiency improvement
			<ul>
			  <li>Applications in QCD, LHC physics, and quantum gravity</li>
			  <li>Application to large scale structures in the universe, condensed matter physics, ...</li>
			</ul>
		  </li>
	    </ul>
	  </div>

	  <div id="proj22" class="step" data-rel-y="800" data-rel-to="proj2">
		<h3><span class="h3span">Intermediate objective 2.2</span></h3>
		<blockquote>
		  Develop novel methods for integral reduction
		</blockquote>
		<ul>
		  <li>Building on ideas from algebraic geometry</li>
		  <li>Machine learning (millions of integrals & billions of relations)</li>
		  <li>What is a <em>good</em> basis of integrals?</li>
		  <li>Applied intersection theory</li>
		</ul>
		Outcomes:
	    <ul>
		  <li class="medium">Classification of integral bases and their usefulness</li>
		  <li class="hard">Breakthrough in integral reduction technologies</li>
		  <li class="hard">Understand what the neural network does</li>
	    </ul>
	  </div>

	  <div id="proj3" class="step" data-rel-x="1800" data-rel-to="proj2">
		<h2>Subproject 3: Numerical integration and bootstrap</h2>
		<h3><span class="h3span">Intermediate objective 3.1</span></h3>
		<blockquote>
		  Optimize and/or develop numerical integration technologies
		</blockquote>
		<img id="NNFig" src="figures/NN.png"></img>
		<ul>
		  <li>Take advantage of special form of PM-integrals</li>
		  <li>Machine learning and neural networks</li>
		</ul>
		Outcomes:
	    <ul>
		  <li class="easy">Improvement of accuracy by a few digits</li>
		  <li class="hard">Significant improvement of accuracy</li>
	    </ul>
	  </div>

	  <div id="proj32" class="step" data-rel-y="750" data-rel-to="proj3">
		<h3><span class="h3span">Intermediate objective 3.2</span></h3>
		<blockquote>
		  Build analytic Ansätze for gravitational observables
		</blockquote>
		<ul>
		  <li>Ideas from \(\cN=4\) SYM bootstrap</li>
		  <li>Use single-scale property</li>
		  <li>Learn from differential equations method about the function space</li>
		  <li>Subclasses of hypergeometric functions (pattern?)</li>
		</ul>
		Outcomes:
	    <ul>
		  <li class="easy">Understand the next-missing-order (5PM) function space</li>
		  <li class="hard">All-loop understanding of relevant iterated-integrals</li>
	    </ul>
	  </div>

	  <div id="proj33" class="step" data-rel-y="750" data-rel-to="proj32">
		<h3><span class="h3span">Intermediate objective 3.3</span></h3>
		<blockquote>
		  Numerical and analytical bootstrap
		</blockquote>
		<ul>
		  <li>High-precision numerical results for some integrals</li>
		  <li>Combine 3.1 and 3.2 into an analytical bootstrap</li>
		  <li>Hybrid numerical &#8212 analytical</li>
		</ul>
		Outcomes:
	    <ul>
		  <li class="easy">Locally improve the current framework with numerical algorithms</li>
		  <li class="hard">Start-to-end numerical pipeline for waveform templates</li>
	    </ul>
	  </div>

	  <div id="summary" class="step" data-rel-x="1800" data-rel-to="proj3">
		<h2>Summary</h2>
		<div class="center">
		  <img id="summaryFig" src="figures/summary.svg"></img>
		</div>
	  </div>

	  <div id="feedback" class="step" data-rel-x="1800" data-rel-to="summary">
		<div class="center">
		  I'm happy to receive feedback, comments, and questions now and later:
		  <br/>
		  <a href="mailto: gregor.kaelin@desy.de">gregor.kaelin@desy.de</a>
		</div>
		<div class="center margin-top60">
		  This talk can be found on: <a href="https://kaelingre.gitlab.io/2022_snsf_itp">kaelingre.gitlab.io/2022_snsf_itp</a>
		</div>
		<h3 class="margin-top60">Thank you!</h3>
	  </div>
	  
	  
  	</div>

	<div id="impress-toolbar"></div>

	<!--
	<div class="hint">
      <p>Use a spacebar or arrow keys to navigate. <br/>
		Press 'P' to launch speaker console.</p>
	</div>
	-->
	<script>
	  if ("ontouchstart" in document.documentElement) { 
		  document.querySelector(".hint").innerHTML = "<p>Swipe left or right to navigate</p>";
	  }
	  </script>

	<script src="js/impress.js"></script>
	<script>impress().init();</script>

  </body>
</html>
